//
// Custom Deck Styles
//

=bg-img($src, $width, $height, $sizes)
  @each $size in $sizes
    $w: nth($size, 2)
    $h: ($height / $width) * $w
    @media #{nth($size, 1)}
      +background-image($src, $w, $h)

article.deck-container
  ul.equation
    list-style: none

  .device-image
    $sizes: (($small-up, 294px), ($medium-up, 588px), ($xga-up, 470px), ($wuxga-up, 800px))
    +bg-img('spin-lifetime/tikz-nonlocal_spin_valve', 1567px, 1048px, $sizes)

  .crystal-image
    $sizes: (($small-up, 333px), ($medium-up, 500px))
    +bg-img('dichalcogenides/crystal-vertical', 1076px, 2053px, $sizes)

    $sizes: (($xga-up, 400px), ($wuxga-up, 1000px))
    +bg-img('dichalcogenides/crystal', 1076px, 561px, $sizes)

  .lattice-image
    $sizes: (($small-up, 250px), ($medium-up, 500px), ($xga-up, 400px), ($wuxga-up, 700px))
    +bg-img('dichalcogenides/lattice', 1076px, 924px, $sizes)

  .outline
    @media #{$xga-up}
      display: flex
      align-items: center

      h3
        text-transform: capitalize

      h3, div, img
        text-align: center
        +span-columns(6)

      .first img
        +omega

      &.last
        h3
          +shift(6)
          +omega

        div
          +shift(-12)

  #spin-lifetime .content
    @media #{$medium-up}
      > div:first-of-type
        +one-third

      > div:last-of-type
        +two-thirds
        +omega

    img
      +two-thirds($center: true)
      +omega

    p
      +full
      +omega

  .geometry .content
    ul.equation
      @media #{$xga-only}
        +small

    @media #{$medium-only}
      div.device-image
        +span-columns(12)
        +omega

      ul
        +span-columns(4)
        +shift(2)

        &.last
          +omega

      > div:last-of-type
        +full
        +omega

    @media #{$xga-up}
      div.device-image
        +span-columns(6)
        +shift(3)

      ul
        +span-columns(3)

        &.first
          +shift(-9)

        &.last
          +omega

      > div:last-of-type
        +full
        +omega

      > p
        +full
        +omega

  .solution .content
    ul.equation:last-of-type
      +inline

    @media #{$medium-up}
      ul.equation
        +inline
        +full($center: true)
        +omega

      > p:last-of-type
        +full
        +omega

    @media #{$medium-up}
      p:not(:last-of-type)
        +full($center: true)
        +omega

    @media #{$wxga-up}
      p.long-equation
        +half($center: true)

  .regimes .content
    @media #{$medium-up}
      > div
        +half

        &:last-of-type
          margin-bottom: 2rem
          +omega

      h3, p:not(:last-of-type)
        text-align: center

      > p:last-of-type
        +full
        +omega

  .fits .content
    @media #{$medium-only}
      ul.equation
        list-style: none

        li
          display: inline-block
          margin-right: 2rem

    @media #{$xga-up}
      > div
        +half

        &:last-of-type
          +omega

        ul.equation
          +small

      > p
        +full
        +omega

  .bands .content
    @media #{$medium-only}
      > div
        +two-thirds($center: true)

        > ul
          +one-fourth
          margin-left: 0

          &:last-of-type
            +omega

        > h3
          +half
          text-align: center

      > p
        +full
        +omega

  .sc-excitations .content
    @media #{$medium-only}
      > div
        +half

        &:last-of-type
          +omega

  #dichalcogenides .content
    @media #{$medium-up}
      div.one-third
        +one-third

      div.two-thirds
        +two-thirds
        +omega

      div.full.center
        +full($center: true)
